# rename to .env.local and fill in the values
# used for local testing with self signed certificates
# (do not track this file in git)
HTTPS_KEY=certs/localhost+2-key.pem
HTTPS_CERT=certs/localhost+2.pem