<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="<%= viewport %>" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#141414" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#141414" />

    <meta name="theme-color" content="#141414" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#141414" media="(prefers-color-scheme: dark)" />

    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png?v=3" />
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png?v=3" />
    <link rel="apple-touch-icon" sizes="167x167" href="icons/apple-icon-167x167.png?v=3" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png?v=3" />
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg?v=3" color="#9200ff" />
    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png?v=3" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png?v=3" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png?v=3" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png?v=3" />
    <link rel="icon" type="image/ico" href="favicon.ico?v=3" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
