name: Build docker image and push to DockerHub & DigitalOcean

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to docker.io
        uses: docker/login-action@v3.6.0
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_NAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Get current date
        id: date
        run: echo "date=$(date -u '+%F-%T')" >> $GITHUB_OUTPUT

      - name: Get short SHA
        id: sha
        run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            COMMITHASH=${{ steps.sha.outputs.sha }}
            BUILDTIME=${{ steps.date.outputs.date }}
          tags: docker.io/${{ secrets.DOCKER_NAME }}/vipr-wallet:${{ steps.sha.outputs.sha }}-alpine, docker.io/${{ secrets.DOCKER_NAME }}/vipr-wallet:latest

      - name: Deploy to DigitalOcean
        uses: digitalocean/app_action/deploy@v2
        with:
          app_name: vipr-wallet
          token: ${{ secrets.DO_TOKEN }}